<h1>Add an offer to your bookings</h1>
<%= simple_form_for [@offer, @booking] do |f| %>
  <%= f.input :comment, placeholder: 'Enter a comment about the movie' %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
