
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1599297914860-1ccd36987a52?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjg3fHxjb29raW5nfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60);">
  <div class="container">
    <h1 class="my-2">Tired of ordering takeout?</h1>
    <h2 class="">Book a personal chef today</h2>
    <a class="btn btn-primary" href="#">Book now</a>
  </div>
</div>

<% cuisines_with_images = {
  "Japanese" => 'https://images.unsplash.com/photo-1580822184713-fc5400e7fe10?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80',
  "Chinese" => 'https://plus.unsplash.com/premium_photo-1661600135596-dcb910b05340?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80',
  "French" => 'https://images.unsplash.com/photo-1608855238293-a8853e7f7c98?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80',
  "American" => 'https://images.unsplash.com/photo-1618219878829-8afd92751bed?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80',
  "Italian" => 'https://images.unsplash.com/photo-1498579150354-977475b7ea0b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80',
  "Korean" => 'https://images.unsplash.com/photo-1590301157890-4810ed352733?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=736&q=80'
} %>

<div class="container">
  <div class="row my-3">
  <% @offers.each do |offer| %>
    <div class="col-3 my-3">
      <div class="card">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cuisines_with_images[offer.cuisine] %>')">
          <h4><%= offer.cuisine %></h4>
        </div>
        <%= link_to "", offers_path(cuisine: offer.cuisine), class: "card-link" %>
      </div>
    </div>
  <% end %>
  </div>
</div>
