<div class="container">
  <div class="row my-3">
    <div class="col-6 my-3">
      <div class="card">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/random/500x500/?cuisine')">
          <h1 class="text-center text-light"><%= @offer.cuisine %> Cuisine | Chef <%= @offer.user.last_name %></h1>
        </div>
          <p class="text-center text-dark">Price: ¥<%= @offer.price %></p>
      </div>
    </div>

    <div class="col-6 my-3">
      <%= render partial:"shared/booking_form", locals: { offer:@offer, booking:@booking } %>
    </div>
  </div>
</div>
