.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 500px;
  position: relative;

  .container {
    margin-top: 40px;
  }

  h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 40px;
    font-weight: bold;
    font-family: $h1-font;
  }

  h2 {
    font-size: 26px;
    color: white;
    opacity: .7;
    font-family: $h2-font;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  .btn-primary {
    background-color: #F88E28;
    border-style: none;
    border-radius: 5px;
    margin-top: 10px;
  }
}
